<nav *ngIf="isAuthenticated && user" class="navbar navbar-expand-lg navbar-light bg-light px-4 position-relative">
  <a class="navbar-brand fw-bold" [routerLink]="isAdmin ? '/admin' : '/'">
    {{ isAdmin ? 'Panel de administrador' : ('¡Bienvenido de nuevo, ' + (user.name | titlecase) + ' 👋!') }}
  </a>

  <div class="position-absolute top-50 start-50 translate-middle">
    <span class="navbar-text fw-bold fs-4 text-primary">MERCADOLIBRE</span>
  </div>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="d-flex align-items-center gap-2 ms-auto">
    <span *ngIf="!isAdmin">
      <button pButton (click)="seeOrders()">Mis Ordenes</button>
    </span>
    <span *ngIf="!isAdmin">
      <button pButton icon="pi pi-shopping-cart" (click)="toggleCart()"></button>
    </span>

    <button pButton icon="pi pi-sign-out" label="Logout" class="btn btn-outline-danger" (click)="logout()"></button>
  </div>
</nav>
