<div class="container mt-4">
    <div class="row g-4">
        <div class="col-12 col-md-6 col-lg-4" *ngFor="let product of products">
            <p-card [style]="{ width: '100%', overflow: 'hidden', cursor: 'pointer' }"
                (click)="verProducto(product.id)">
                <ng-template #header>
                    <img alt="Product Image" class="img-fluid"
                        src="https://primefaces.org/cdn/primeng/images/galleria/galleria10.jpg" />
                </ng-template>

                <ng-template #title>{{ product.name }}</ng-template>
                <ng-template #subtitle>{{ product.category }}</ng-template>

                <p>{{ product.description }}</p>

                <ng-template #footer>
                    <div class="d-flex justify-content-between align-items-center mt-2">
                        <span class="fw-bold fs-5">${{ product.price }}</span>
                        <div class="d-flex gap-2">
                            <ng-container *ngIf="getProductQuantity(product.id) > 0; else agregarBtn">
                                <div class="d-flex justify-content-between w-100">
                                    <button pButton icon="pi pi-minus" size="small" class="flex-grow-1 me-1"
                                        (click)="eliminarDelCarrito(product); $event.stopPropagation()"></button>

                                    <span class="align-self-center text-center" style="min-width: 40px;">
                                        {{ getProductQuantity(product.id) }}
                                    </span>

                                    <button pButton icon="pi pi-plus" size="small" class="flex-grow-1 ms-1"
                                        (click)="agregarAlCarrito(product); $event.stopPropagation()"></button>
                                </div>
                            </ng-container>


                            <ng-template #agregarBtn>
                                <p-button label="Agregar al carrito" icon="pi pi-shopping-cart" size="small"
                                    (click)="agregarAlCarrito(product);  $event.stopPropagation()"></p-button>
                            </ng-template>
                        </div>

                    </div>
                </ng-template>
            </p-card>
        </div>

    </div>
</div>